<div class="homepageCategoryProducts">
	<div class="eachHomepageCategoryProducts">
		<div class="left-mark"></div>
	
		<span class="categoryTitle">aaa</span> <br>
		
		<div class="productItem">
			<a href="foreproduct?pid=10144"><img width="100px" src="/shopping/img/productSingle_middle/10144.jpg"></a>
			<a class="productItemDescLink" href="foreproduct?pid=10144">
				<spancclass="productItemDesc">[热销] 产品10144</span>
			</a>
			<span class="productPrice">
				<fmt:formatNumber type="number" value="33.5" minFractionDigits="2" />
			</span>
		</div>
		<div class="productItem">
			<a href="foreproduct?pid=10178"><img width="100px" src="/shopping/img/productSingle_middle/10178.jpg"></a>
			<a class="productItemDescLink" href="foreproduct?pid=10178">
				<spancclass="productItemDesc">[热销] 产品10178</span>
			</a>
			<span class="productPrice">
				<fmt:formatNumber type="number" value="33.5" minFractionDigits="2" />
			</span>
		</div>
		<div class="productItem">
			<a href="foreproduct?pid=22"><img width="100px" src="/shopping/img/productSingle_middle/22.jpg"></a>
			<a class="productItemDescLink" href="foreproduct?pid=22">
				<spancclass="productItemDesc">[热销] 产品22</span>
			</a>
			<span class="productPrice">
				<fmt:formatNumber type="number" value="33.5" minFractionDigits="2" />
			</span>
		</div>
	
		<div style="clear: both"></div>
	</div>
	
	<img id="endpng" class="endpng" src="/shopping/img/site/end.png">
</div>